h1{
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 4vw;
text-align: center;
color:white;
font-weight: 100;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    border-width: 30px;
    width: 45em;
    text-align:center;
    border-radius: 5e

}

   h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:100;
    text-align: center;
    
   }

   h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:100;
    text-align: center;
    
   }
