  button {
        font-family: Georgia, 'Times New Roman', Times, serif;
	background-color:black;
	color: white;
	font-size: 6px;
	border-radius: 1px;
	line-break: auto;
	transition: ease-out 0.3s;
	
  }
  .btn-1 {
        width: 38px;
        height: 30px;
  } 
  button:hover {
	background-color: aliceblue;
	color: #000;
	cursor: pointer;

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: .8em;
    font-weight: 300;
    margin: 0px 70px 0px 70px;
}

p {
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 2em;
   font-weight: 400
   margin: 0px 70px 0px 70px;
}

div {
margin: 0px 70px 0px 70px;
}
