@import url('https://fonts.googleapis.com/css?family=Cairo');
@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&family=Play:wght@700&display=swap');

* {
	margin: 0px 0px 0px 0px;
	animation: transitionIn 0.75s;
	padding: 0;
	box-sizing: border-box;
} 

head {
	display:inline;
	align-content: center;
}

body {
	background-image: url("../images/background.png");
	background-size: length:100%;
	background-repeat: repeat;
        background-position: center center;
        background-color: black;

}

.menu {
	font-family: "Cairo";
	color: aliceblue;
	width: 100%;
	height: 80px;
	background-color: rgb(56, 56, 56);
	align-items: center;
}

.title {

	font-family: "Cairo";
	text-align: left;
	color: #FFF;
	align-items: center;
	justify-content: center;
	height: 100vh;
	letter-spacing: 1px;
	line-height:1
}

.desc {
	margin: 20px 40px 0px 40px;
	font-family:"Play";
	font-weight: 400;
	color: aliceblue;
}

.bar {
	margin: 20px 30px 0px 30px;
	color: aliceblue;
	border-radius: 10px;
	width: 70%;
	height: 20px;
	background-color: aliceblue;
}

.title {
	font-family: "Cairo";
	text-align: left;
	color: #FFF;
	align-items: center;
	vertical-align: middle;
	justify-content: center;
	height: 100vh;
	letter-spacing: 1px;
	line-height:1
}

.content {
	margin: 20px 0px 20px 0px;
	font-size: 1em;
    border-radius: 4px;
	border-color: #FFF;
	width: 70%;
	height:fit-content;
	padding: 15px;
	background-color: black: opacity:10%;
	transition: ease-out 0.3s;
	
}

.content-title{
	margin: 15px 0px 20px 50px;
	transition: ease-out 0.3s;
}

.text{
	margin: 0px 20px 0px 20px;
}


 .text {
    font-family: "Cairo";
    margin: 0px 25vw 0px 25vw;
    line-height: 20px;
 }

.btn-1 {
	font-family: "Play";
	color: aliceblue;
	background-color: #000;
	width: 38px;
	height: 30px;
} 

li {
	list-style: none;

}

a {
	color: aliceblue;
	text-decoration: none;
}

.nav-bar {
	min-height: 70px;
	display: flex;
	justify-content: space-between;
	padding: 0 24px;
	align-items: center;
}

.nav-menu {
display: flex;
justify-content: space-between;
align-items: center;
gap: 60px;
}

.nav-link{
	transition: 0.3s ease;
}

.nav-link:hover{
	color: aqua;
}

.hamburger{
	display: none;
	cursor: pointer;

}

.bar-nav{
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: white;
}

.text-content {
	color: aliceblue;
	font-family: "Cairo";
	margin: 40px 70px 0px 70px;
}

.hangout-content {
    color: aliceblue;
    margin: 15px 0px 7px 0px;
    font-family: "Cairo";
	font-size: 1em;
    border-radius: 4px;
	width: 70%;
	height:fit-content;
	background-color: black;
	transition: ease-out 0.3s;
}

@media (max-width: 768px) {

.content {
	background-color: rgb(255, 255, 255, 0.2);
}
.hamburger{
	display: block;

}
.hamburger.active .bar-nav:nth-child(2){
	opacity: 0;
}

.hamburger.active .bar-nav:nth-child(1){
	transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar-nav:nth-child(3){
	transform: translateY(-8px) rotate(-45deg);
}

.nav-menu{
	position:fixed;
	left: -100%;
	top: 70px;
	gap: 0;
	flex-direction: column;
	background-color:rgb(56, 56, 56); 
	width: 100%;
	text-align: center;
	transition: 0.3s;

}

.nav-item{
	margin: 16px 0;
}

.nav-menu.active{
	left: 0;
}
}

@media (min-width: 769px) {
.content:hover{
	font-size: 1.1em;
    color: black;
	background-color: aqua;
}

button:hover {
background-color: aqua;
color: #000;
cursor: pointer;

}

	.hangout-content:hover{
	font-size: 1.2em;
    color: black;
	background-color: aqua;
}


}
