@import url('https://fonts.googleapis.com/css?family=Cairo');
body {
	background-color: black;
}

.title {
	font-family: "Cairo";
	text-align: center;
	color: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	letter-spacing: 1px;
	line-height:1
}

h1 {
	background-image: url(https://media.tenor.com/images/475f04863199d9fafb1b982c62f00c23/tenor.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
    word-break: keep-all;
	font-size: 90px;
	margin: 10px 0;
}
/* styling my button */

.white-mode {
	text-decoration: none;
	padding: 7px 10px;
	background-color: #122;
	border-radius: 3px;
	color: #FFF;
	transition: .35s ease-in-out;
	position: absolute;
	left: 15px;
	bottom: 15px;
	font-family: "Montserrat";
}

.white-mode:hover {
	background-color: #FFF;
	color: #122;
}

button {
    font-family: Georgia, 'Times New Roman', Times, serif;
background-color:black;
color: white;
font-size: 1em;
border-radius: 1px;
line-break: auto;
transition: ease-out 0.3s;

}
.btn-1 {
    width: 38px;
    height: 30px;
} 
button:hover {
background-color: aliceblue;
color: #000;
cursor: pointer;

}
}
